@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+HR+Lijeva:wght@100..400&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: "Inter", sans-serif;
    
    box-sizing: border-box;
    background-color: var(--background-fill);

    
}
:root{
    --primary-color: rgb(230, 83, 60);
    --secondary-color: rgb(255, 255, 255);
    --light-color: rgba(255, 255, 255, 0.5);
    --background-light:rgb(34, 34, 34);
    --fill-color:rgb(57, 57, 57);
    --background-fill:rgb(0, 0, 0);
    --font-family-secondary:"Playwrite HR Lijeva", "cursive";
    
}

 /* common style start here  */

 .btn{
    background-color: transparent;
    color: var(--secondary-color);
    padding: 15px 40px;
    border: 1px solid var(--secondary-color);
    border-radius: 30px;
    margin-right: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
 }
 .btn_active{
    border: none;
    background-color: var(--primary-color);
 }


input.height_cm {
    font-size: 1.4rem;
}

input.weight_kg {
    font-size: 1.4rem;
}

input.age {
    font-size: 1.4rem;
}

select.sex {
    font-size: 1.4rem;
}

select.factor {
    font-size: 1.4rem;
}

.cal_btn {
    font-size: 1.4rem;
}

.run_btn_1 {
    font-size: 1.4rem;
}

p.run_p {
    font-size: 1.4rem;
    line-height: 1.7rem;
}
 /* common style end here  */
/* header style start here  */

#hero{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    height: 100%;
    width: 100%;
}
.navbar_container{
    display: flex;
    width: 80%;
    margin: 0px auto;
    /* border: 1px solid tomato; */
    justify-content: space-between;
    height: 15vh;
    align-items: center;
    margin-bottom: 20px;
}
.nav_log{
    color: var(--primary-color);
    font-size: 2.5rem;
}
.nav_ul{
    display: flex;
    list-style: none;
    
    border-radius: 20px;
    border: 1px solid var(--border-color);
    padding: 2px;
}
.nav_li{
   padding: 10px 20px;
 

}
.nav_link{
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 300;
    cursor: pointer;
    margin: 0px 10px;
}
.hambargar{
    color: var(--secondary-color);
    display: none;
  
    font-size: 2rem;
    padding-right: 20px;
}


 .active {
    background-color: var(--primary-color);
    border-radius: 20px;
    border: none;
font-weight: 500;
}
.active > a{
   
font-weight: 500;
}

.banner_section_container{
    display: flex;
    width: 80%;
    margin: 20px auto;
    justify-content: space-between;
    gap: 20px;
    
}
.banner_content{
    /* border: 1px solid tomato; */
    width: 100%;
   
   
}


.banner_h1{
    color: var(--secondary-color);
    padding: 20px 0px;
    font-size:4rem;
    padding-top: 60px;
    max-width: 400px;
  
}
.s_h1{
    font-family: var(--font-family-secondary);
    font-weight: 200;
}
.banner_p{
    color: var(--light-color);
    margin: 25px 0px;
    line-height: 1.7rem;
    max-width: 400px;
    font-size: 1.4rem;
}



.banner_img{
    /* border: 1px solid yellow; */
    width: 100%;
    text-align: right;
    position: relative;
}
.ban_img{
    height: 100%;
}
.ban_img_container{
    position: relative;
}
.card_1 {
    display: flex;
   width: 190px;
    position: absolute;
    justify-content: center;
    height:80px;
    align-items: center;
  
    
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;

backdrop-filter: blur(10px);
background: rgba(48, 48, 48, 0.54);
padding: 5px;
    bottom: 15%;
    left: 13%;
}
.cirle{
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    border-radius: 50%;
   margin: 20px 20px;
}
.cir_content h4{
    text-align: left;
    color: var(--secondary-color);
    font-size: 1.2rem;
    padding-bottom: 10px;
}
.cir_content p{
    text-align: left;
    color: var(--light-color);
    font-size: 1rem;
}
.card_2{
    
   
    position: absolute;
    
    
   
  text-align: center;
  backdrop-filter: blur(10px);
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;

background: rgba(48, 48, 48, 0.54);
padding: 10px 20px;
    top: 22%;
    right: -8%;
}
.card_2 h2{
    color: var(--secondary-color);
    font-size: 1.6rem;
    padding-bottom: 10px;
}
.card_2 p{
color: var(--light-color);
font-size: .9rem;
}
/* header style end here  */
/* main style start here  */

/* habit section start here  */
.habit_section{
    width: 80%;
    /* border: 1px solid tomato; */
    margin:80px auto;
}
.heading_section{

    width: 60%;
    margin: 20px auto;
    text-align: center;
}
.head_h1{
    color: var(--secondary-color);
    margin-bottom: 20px;
    font-size: 1.8rem;
}
.head_p{
    color: var(--light-color);
    margin-bottom: 20px;
    line-height: 1.7rem;
    font-size: 1.4rem;

}
.habit_content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-around;
    /* border: 1px solid rgb(61, 62, 63); */
    gap: 8%;
    /* background-color: yellow; */
    padding: 80px 0px;
}
.item_img{
    display: flex;
   width: 100%;
  
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    padding: 5px;
    align-items: center;
    background-color: #222222;
}
.habit_item{
    text-align: center;
}
.item_img img{
    border-radius: 50%;
  height: 100%;
    width: 100%;
   
    border: 1px solid var(--light-color);
    
}
.item_h3{
    color: var(--secondary-color);
    margin:20px 0px;
    font-size: 1.7rem;

}
.item_p{
    margin:0px 0px;
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 1.7rem;
}




/* habit section end here  */
/* run section start here  */
.run_section{
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-light);
    padding: 30px 50px;
    border-radius: 16px;
    /* border: 1px solid red; */
}
.run_content{
    width: 80%;
    /* border: 1px solid yellow; */
}
.run_h1{
    color: var(--secondary-color);
    font-size: 2.5rem;
    width: 70%;
    margin-bottom: 20px;
}
.run_p{
    color: var(--light-color);
    margin-bottom: 25px;
    line-height: 1.5rem;
}
.run_img{
    width: 100%;
    text-align: right;

    /* border: 1px solid tomato; */
}
.run_img img{
    width: 70%;
    border-radius: 16px;
    height: 100%;
}


/* run section end here  */

/* training section start here  */

.traning_section{
    width: 86%;
    margin: 60px auto;
    /* border: 1px solid green; */
}

.traning_heading{
    width: 60%;
   
}.item_2_P_1{
    color: var(--secondary-color);
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 30px;
    max-width: 40%;
    text-align: left;
    font-size: 1.3rem;
}
.item_2_P{
    color: var(--secondary-color);
    position: absolute;
    z-index: 2;
    top: 30px;
    right: 30px;
    max-width: 30%;
    text-align: right;
    font-size: 1.3rem;
}
.item_1_P{
    color: var(--secondary-color);
    position: absolute;
    z-index: 2;
    bottom: 30px;
    left: 30px;
    max-width: 70%;
    font-size: 1.3rem;
}
.traning_h1{
    color: var(--secondary-color);
    margin: 1.2rem 0rem;
    font-size: 1.8rem;
}
.traning_p{
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 1.7rem;
}
.item_1_img{
    width: 100%;
    height: 100%;
   
}
.card_1_item_2{
    width: 100%;
    height: 300px;
    position: relative;
}
.card_1_item_3{
    width: 100%;
    height: 300px;
    position: relative;
}
.card_1_item_1{
    width: 100%;
    height: 300px;
    position: relative;
    
}
.traning_card_1{
    display: grid;
    grid-template-columns: .7fr  1.5fr .8fr;
    object-fit: cover;
   
    position: relative;
    overflow: hidden;
    margin-top: 50px ;
    
    
    
}
.card_1_item_1:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(6, 255, 210, 0.5);
    z-index: 1;

}
.card_1_item_2:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.3);
    z-index: 1;
    
}
.card_1_item_3:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;


}
    .item_1_img{
        width: 100%;
        height: 100%;
       
    }
    .card_2_item_6{
        width: 100%;
        height: 300px;
        position: relative;
    }
    .card_2_item_5{
        width: 100%;
        height: 300px;
        position: relative;
    }
    .card_2_item_4{
        width: 100%;
        height: 300px;
        position: relative;
        
    }
    .traning_card_2{
        display: grid;
        grid-template-columns: 1.5fr  .7fr .9fr;
        object-fit: cover;
       
        position: relative;
        overflow: hidden;
        margin: 0px 0px;
        
        
        
    }
    .card_2_item_4:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:  rgba(0, 0, 0, 0.5);
        z-index: 1;
    
    }
    .card_2_item_5:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(66, 255, 0, 0.3);
        z-index: 1;
        
    }
    .card_2_item_6:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 71, 255, 0.3);
        z-index: 1;

}

/* training section end here  */
/* BMI section start here  */

.bmi_heading{

    margin: 70px auto;
    width: 52%;
}

.bmi_h1{
    color: var(--secondary-color);
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.bmi_p{
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 1.7rem;
}
.bmi_section{
    background-color: var(--background-light);
}
.bmi_calculator_container{
    display: flex;
    width: 85%;
    margin: 20px auto;
    justify-content: space-between;
    padding: 60px 30px;
}
.bmi_table{
    color: var(--light-color);
}
.bmi_h_item_1{
    color: var(--secondary-color);
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: left;
    
}
table.bmi_table {
    font-size: 1.1rem;
    width: 80%;
    height: 75%;
}
table , td,th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 20px 20px;
  }
th{
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
  }
  .bmi_itme_2_h1{
    color: var(--secondary-color);
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  .bmi_item_2_p{
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 1.7rem;
  }

  .bmi_item_2_heading{
    width: 70%;
    margin-bottom: 20px;
  }
 .form_table{
    width: 100%;
    /* border: 1px solid red; */
    text-align: left;
 }
 .weight_kg ,.height_cm ,.age , .sex{
    width: calc(50% - 35px);
    display: inline-block;
    padding: 20px 10px;
    border-radius: 8px;
   border:none;
   margin: 10px 0px;
   margin-right: 10px;
background: rgba(255, 255, 255, 0.1);
outline: none;
color: var(--light-color);

 }
 .bmi_item_1 {
    flex-basis: 1;
    flex-basis: 50%;
   
}

.bmi_item_2 {
    flex-basis: 60%;
  
}
 .sex  > option{
    background-color: rgb(43 43 43 / 92%);

 }
 .factor  > option{
    background-color: rgb(43 43 43 / 92%);

 }
 .factor{
    width: calc(100% - 15px);
    display: inline-block;
    padding: 20px 10px;
    border-radius: 8px;
   border:none;
   margin: 10px 0px;
   margin-right: 10px;
background: rgba(255, 255, 255, 0.1);
outline: none;
color: var(--light-color);
 }
 select.sex {
    width: 47.5%;
}
.cal_btn{
    margin-top: 20px;
}
   
/* BMI section end here  */
/* team section start here  */

.heading_section {
    width: 61%;
}
.team_section , .footer_section{
    width: 85%;
    margin: 70px auto;
    /* border: 1px solid red; */
}
.team_container{
    background-color: var(--background-light);
    border-radius: 16px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 20px;
    position: relative;
}
.team_item_1{
    width: 100%;
    height: 350px;
}
.team_img {
    width: 100%;
    height: 100%;
    border-radius: 16PX;

}
.team_item_1{
    position: relative;
    
}
.team_span{
    position: absolute;
    /* width: 100%; */
    /* height: 100%; */
    bottom: 2%;
    left: 5%;


}
.team_h4{
color: var(--secondary-color);
padding: 5px 0px;
font-size: 1.5rem;
}
.team_p{
    color: var(--light-color);
    padding: 5px 0px;
    font-size: 1.2rem;
    
}

/* team section end here  */
/* contact sesstion style start here  */
.contact_heading{
    color: var(--secondary-color);
    font-size: 2.5rem;
    width:  60%;
    margin: 60px auto;
    background-color: red;
    text-align: center;
}
.contact_us_section{
    width: 85%;
    margin: 50px auto;
    
}
.contact_container{
    display: flex;
    /* background-color: wheat; */
    justify-content: space-between;
    background-color: var(--background-light);
    border-radius: 16px;
}
.contact_item1{
    flex-basis: 50%;
    /* background-color: yellow; */
    
}
.label_contact{
    margin-top: 20px;
    display: inline-block;
    width: 50%;
    color: var(--light-color);
    font-size: 1.4rem;
    margin-bottom: 10px;
    
}
.contact_form{
    padding: 30px 40px;
}
.name ,.email {
    outline: none;
    width: 80%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: var(--light-color);
    padding: 10px 10px;
    font-size: 1.2rem;
    border-radius: 16px;
}
.textarea{
    outline: none;
    width: 80%;
    resize: none;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: var(--light-color);
    padding: 10px 10px;
    font-size: 1.2rem;
    border-radius: 16px;
}
.subject{
    width: 83%;
    /* padding: 20px 20px; */
    height: 60px;
  
        outline: none;
      
        background-color: rgba(255, 255, 255, 0.1);
        border: none;
        color: var(--light-color);
        padding: 10px 10px;
        font-size: 1.2rem;
        border-radius: 16px;

}
.subject > option {
    
    background-color: rgb(43 43 43 / 92%);
    color: var(--light-color);
}
.contact_p{
    background-color: red;
}
.contact_item2{
    /* flex-basis: 40%; */
    
    background-image: linear-gradient(rgb(0 0 0 / 65%), #0202022b), url(../assets/contact.jpg);
    width:40%;
    /* height: 80vh; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
    border-radius: 12px;
    position: relative;
    
}
.img_icon{
    position: absolute;
    bottom: 0;
   width: 100%;
   /* background-color: red; */
   margin: 10px auto;
   text-align: center;
}
.img_icon_contact{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  /* opacity: .6; */
  transition: transform 0.7 all;
  cursor: pointer;
}
.img_icon_contact:hover{
    transform:scale(1.3) translate(0px ,-10px);
}

.btn_priamry{
    border: none;
    border-radius: 30px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1.4rem;
    margin-top: 40px;
    padding: 15px 40px;
    font-weight: 600;
    cursor: pointer;
}

/* contact sesstion style end here  */

/* footer section start here  */


.footer_container{
    display: grid;
grid-template-columns: 1.5fr .7fr .7fr;
/* grid-template-areas: 'f_1 f_2 f_3'; */
/* gap: 50px; */
width: 90%;
margin: 30px auto;

}
.footer_h1{
    color: var(--primary-color);
    font-size: 3rem;
}
.footer_p{
    width: 60%;
    color: var(--light-color);
    font-size: 1.2rem;
    margin-top: 20px;
    line-height: 1.9rem;

}
.footer_item1{
    color: var(--secondary-color);
    /* grid-area: f_1; */
    /* background-color: red; */

   
    
}
.footer_item2{
    color: var(--secondary-color);
    /* grid-area: f_2; */
    /* background-color: green; */

}
.footer_item3{
    color: var(--secondary-color);
    /* grid-area: f_3; */
    /* background-color: yellow; */
  
}
.footer_ul{
color: var(--light-color);
list-style: none;
margin-top: 20px;
}
.item_h2{
font-size: 1.7rem;
margin-top: 20px;
}
.footer_li{
    color: var(--light-color);
    font-size: 1.3rem;
    line-height: 2.5rem;
}
.footer_hr{
    color: var(--light-color);
    background-color: var(--background-light);
    width: 90%;
    margin: 0px auto;
    border-top: 2px solid var(--background-light);
}
.right{
    color: var(--light-color);
    width: 50%;
    margin: 40px auto;
    /* border: 1px solid red; */
    text-align: center;
    font-size: 1.4rem;
}
/* footer section end here  */
/* main style end here  */